<a href="https://colab.research.google.com/github/LeonimerMelo/python/blob/main/Intrudu%C3%A7%C3%A3o_ao_Python_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intodução ao Python
Alguns exemplos comentados das principais estruturas e conceitos em Python, desde variáveis até coleções avançadas.

## 1️⃣ Variáveis e Tipos de Dados

In [ ]:
# Variáveis armazenam dados
nome = "João"       # String (texto)
idade = 25          # Inteiro (int)
altura = 1.75       # Float (decimal)
estudante = True    # Booleano (True/False)

# Saída formatada
print(f"{nome} tem {idade} anos e {altura}m de altura.")

## 2️⃣ Operadores
### Aritméticos

In [ ]:
a = 10
b = 3

print(a + b)   # Soma → 13
print(a - b)   # Subtração → 7
print(a * b)   # Multiplicação → 30
print(a / b)   # Divisão → 3.333...
print(a % b)   # Resto da divisão → 1
print(a ** b)  # Potência → 1000 (10³)

### Comparação

In [ ]:
x = 5
y = 10

print(x == y)  # Igual? → False
print(x != y)  # Diferente? → True
print(x > y)   # Maior? → False
print(x <= y)  # Menor ou igual? → True

###Lógicos

In [ ]:
tem_carteira = True
idade = 18

# AND (ambas condições devem ser verdadeiras)
pode_dirigir = tem_carteira and idade >= 18
print(pode_dirigir)  # True

# OR (pelo menos uma condição verdadeira)
tem_passaporte = False
tem_rg = True
pode_viajar = tem_passaporte or tem_rg
print(pode_viajar)  # True

# NOT (inverte o valor)
print(not True)  # False

##3️⃣ Estruturas de Controle
###Condicionais (`if`, `elif`, `else`)

In [ ]:
nota = 7.5

if nota >= 9:
    print("Excelente!")
elif nota >= 7:
    print("Bom!")       # ← Esta linha será executada
elif nota >= 5:
    print("Recuperação")
else:
    print("Reprovado")

###Loops (`for`, `while`)
####`for` (iteração em sequências)

In [ ]:
# Loop em uma lista
frutas = ["maçã", "banana", "laranja"]
for fruta in frutas:
    print(fruta.upper())  # MAÇÃ, BANANA, LARANJA

# Loop com range()
for i in range(3):        # 0, 1, 2
    print(i)

####`while` (executa enquanto condição for verdadeira)

In [ ]:
contador = 0
while contador < 5:
    print(contador)
    contador += 1  # Incremento (evita loop infinito)

##4️⃣ Funções

In [ ]:
# Função sem retorno
def saudacao(nome):
    print(f"Olá, {nome}!")

saudacao("Maria")  # → "Olá, Maria!"

# Função com retorno e parâmetro padrão
def soma(a, b=1):  # b tem valor padrão 1
    return a + b

resultado = soma(5, 3)  # → 8
print(resultado)

##5️⃣ Coleções - Python Collections (Arrays)
Python Lists, Tuples, Sets and Dictionaries

There are four collection data types in the Python programming language:

* **List** is a collection which is ordered and changeable. Allows duplicate members.
* **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
* **Set** is a collection which is unordered, unchangeable, and unindexed. No duplicate members.
* **Dictionary** is a collection which is ordered and changeable. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

## Python Listas (`list`)

Lists are used to store multiple items in a single variable.

Lists are created using square brackets.

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(mylist)

In [ ]:
list1 = ["abc", 34, True, 40, "male"]
print("Minha lista: ", list1, type(list1))
print("Tamanho da lista:", len(list1))

Accessing Values in Lists

In [ ]:
print("3o item da lista 'list1': ", list1[2])

In [ ]:
list1 = ['physics', "chemistry", 1997, 2000];
list2 = [1, 2, 3, 4, 5, 6, 7 ];
print ("list1[0]: ", list1[0])
print ("list1[1]: ", list1[1])
print ("list2[1:5]: ", list2[1:5])

All slice operations return a new list containing the requested elements.

In [ ]:
squares = [1, 4, 9, 16, 25]
print('squares[:]: ',squares[:])
print('squares[-2:]: ',squares[-2:])

Lists are a mutable type, i.e. it is possible to change their content:

In [ ]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
# 4 ** 3 = 64  # the cube of 4 is 64, not 65!
cubes[3] = 64  # replace the wrong value
cubes

You can also add new items at the end of the list, by using the `append()` method

In [ ]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

Remove specified item

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

In [ ]:
numeros = [1, 2, 3, 4]
numeros.append(5)       # Adiciona no final → [1, 2, 3, 4, 5]
numeros.remove(2)       # Remove o valor 2 → [1, 3, 4, 5]
print(numeros[0])       # Acessa índice 0 → 1

## Python Tuples - Tuplas (imutáveis)  

A tuple is a collection of objects which **ordered and immutable**. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

Creating a tuple is as simple as putting different comma-separated values. Optionally you can put these comma-separated values between parentheses also.

In [ ]:
coordenadas = (10, 20)
print(coordenadas[0])  # → 10
coordenadas[0] = 5    # Erro! Tuplas não podem ser alteradas.

In [ ]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = 1, 2, 3, 4, 5
tup3 = "a", "b", "c", "d"
print ("Tuple tup1:", tup1, type(tup1))
print ("Tuple tup2:", tup2, type(tup2))
print ("Tuple tup3:", tup3, type(tup3))

Looping

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")
for i in tuple1:
  print(i)

The empty tuple is written as two parentheses containing nothing

In [ ]:
tup1 = ()
tup1

To write a tuple containing a single value you have to include a comma, even though there is only one value

In [ ]:
tuple1 = (50,)
notTuple = (50)
print ("Tuple tuple1: ", tuple1, type(tuple1))
print ("notTuple: ", notTuple, type(notTuple))

Accessing Values in Tuples

In [ ]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = 1, 2, 3, 'j', 4, 5, 6, 7, 'a', "OK"
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

Tuples cannot be changed!

In [ ]:
try:
  tup1.append('error')
except:
  print('Error! Tuples cannot be append!')
else:
  print('append OK!')

## Python Sets - Conjuntos (itens únicos, não ordenados)

Sets are used to store multiple items in a single variable. A set is a collection which is *unordered*, *unchangeable*, and *unindexed*.

**Unordered** means that the items in a set do not have a defined order. Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

**Unchangeable**. Set items are unchangeable, meaning that we cannot change the items after the set has been created. Once a set is created, you cannot change its items, but you can remove items and add new items.

Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

Sets are written with curly brackets.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset, type(thisset))

In [ ]:
numeros = {1, 2, 2, 3}  # Remove duplicatas → {1, 2, 3}
numeros.add(4)          # Adiciona elemento
print(2 in numeros)     # Verifica existência → True
print(numeros)

Duplicates Not Allowed. Sets cannot have two items with the same value. Duplicate values will be ignored.

In [ ]:
thisset = {"pineapple", "apple", "banana", "cherry", "apple"}
print(thisset)

The values `True` and `1` are considered the same value in sets, and are treated as duplicates:

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

In [ ]:
# Creating a Set from a List with no duplicating
list1 = [0, 1, 2, 3, 4, 5, 0]
num_set = set(list1)
num_set

In [ ]:
# Demonstrate set operations on unique letters from two words
str_a = 'abracadabra'
str_b = 'alacazam'
print('string a:', str_a)
print('string b:', str_b)
set_a = set(str_a)
set_b = set(str_b)
# set transform string in unique letters in a
print('letters in string a:', set_a)
# letters in b
print('letters in string b:', set_b)
# letters in a but not in b
print('letters in a but not in b:', set_a - set_b)
# letters in a or b or both
print('letters in a or b (both):', set_a | set_b)
# letters in both a and b
print('letters in a and b:', set_a & set_b)
# letters in a excluive or b:
print('letters in a excluive or b:', set_a ^ set_b)

## Python Dictionary

Python dictionary is a container of the unordered set of objects like lists. The objects are surrounded by curly braces { }. The items in a dictionary are a comma-separated list of key:value pairs where keys and values are Python data type.

Dictionaries are sometimes found in other languages as “*associative memories*” or “*associative arrays*”. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys.

The main operations on a dictionary are storing a value with some key and extracting the value given the key. It is also possible to delete a `key:value` pair with `del`. If you store using a key that is already in use, the old value associated with that key is forgotten. It is an error to extract a value using a non-existent key.

Dictionaries are written with curly brackets, and have keys and values.

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

Dictionary items are ordered, changeable, and does not allow duplicates. Dictionary items are presented in `key:value` pairs, and can be referred to by using the key name.

In [ ]:
print(thisdict["brand"])

Duplicates Not Allowed. Dictionaries cannot have two items with the same key. Duplicate values will overwrite existing values.

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

In [ ]:
# append data into dictionary
tel = {'jack': 14098, 'sape': 4139}
tel['guido'] = 4127
tel

In [ ]:
# Performing list(d) on a dictionary returns a list of all the keys used in the dictionary
list(tel)

In [ ]:
# Insertion order, if you want it sorted, just use sorted(d) instead
sorted(tel)

In [ ]:
pessoa = {
    "nome": "Carlos",
    "idade": 30,
    "cidade": "São Paulo"
}

print('nome:', pessoa["nome"])   # Acessa valor pela chave → "Carlos"
pessoa["profissao"] = "Engenheiro"  # Adiciona nova chave-valor
print(pessoa)

##6️⃣ Tratamento de Exceções (`try/except`)

In [ ]:
try:
    divisao = 10 / 0  # Gera erro!
except ZeroDivisionError:
    print("Erro: divisão por zero!")
finally:
    print("Sempre executa, com ou sem erro.")

##7️⃣ Comprehensions (Forma concisa de criar coleções)

In [ ]:
# List Comprehension
quadrados = [x ** 2 for x in range(5)]  # [0, 1, 4, 9, 16]
print(quadrados)
# Dict Comprehension
quadrados_dict = {x: x ** 2 for x in range(4)}  # {0: 0, 1: 1, 2: 4, 3: 9}
print(quadrados_dict)

In [ ]:
# Exemplo prático: uma função que conta vogais em uma string
def contar_vogais(texto):
    vogais = "aeiouAEIOU"
    return sum(1 for letra in texto if letra in vogais)

print(contar_vogais("Python"))  # → 1 (o)

# Exercícios:

1.   Write a Python program to get the largest number from a list.
2.   Write a Python program to remove duplicates from a list.
3. Write a Python program to check if a list is empty or not.
4. Write a Python function that takes two lists and returns True if they have at least one common member.
5. Write a Python program to generate and print a list of the first and last 5 elements where the values are square numbers between 1 and 30 (both included).
6.  Write a Python program to check if each number is prime in a given list of numbers. Return True if all numbers are prime otherwise False.

**Sample Data**:

([0, 3, 4, 7, 9]) -> False

([3, 5, 7, 13]) -> True

([1, 5, 3]) -> False

7. Write a Python program to unpack a tuple into several variables.
8. Write a Python program to convert a tuple to a string.
9. Write a Python program to find repeated items in a tuple.
10. Write a Python program to check if a given value is present in a set or not.
11. Write a Python program to check if two given sets have no elements in common.
12. Given two sets of numbers, write a Python program to find the missing numbers in the second set as compared to the first and vice versa. Use the Python set.
13. Write a Python program to remove all duplicates from a given list of strings and return a list of unique strings. Use the Python set data type.
14. Write a Python script to check whether a given key already exists in a dictionary.
15. Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x). Sample Dictionary: (n = 5). Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}.
16. Write a Python program to get the maximum and minimum values of a dictionary.
17. Write a Python program to print all distinct values in a dictionary.
Sample Data : [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}].
Expected Output : Unique Values: {'S005', 'S002', 'S007', 'S001', 'S009'}
18. Write a Python program to filter even numbers from a dictionary of values.
Original Dictionary:
{'V': [1, 4, 6, 10], 'VI': [1, 4, 12], 'VII': [1, 3, 8]}.
Filter even numbers from said dictionary values:
{'V': [4, 6, 10], 'VI': [4, 12], 'VII': [8]}.
Original Dictionary:
{'V': [1, 3, 5], 'VI': [1, 5], 'VII': [2, 7, 9]}.
Filter even numbers from said dictionary values:
{'V': [], 'VI': [], 'VII': [2]}.


# Referências
[1] https://www.w3schools.com/python/default.asp

[2] https://docs.python.org/3/tutorial/index.html

[3] https://www.tutorialspoint.com/python/index.htm